---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import FeaturedProducts from "../components/FeaturedProducts.astro";
import Values from "../components/Values.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import FloatingBar from "../components/FloatingBar.astro";
import ProductModal from "../components/ProductModal.astro";
---

<BaseLayout>
    <Header />
    <main>
        <Hero />
        <FeaturedProducts />
        <Values />
        <Faq />
    </main>
    <Footer />
    <FloatingBar />
    <ProductModal />
</BaseLayout>
